
@{
    ViewData["Title"] = "Not Found";
}

<div class="row">
    <div class="col-md-6">
        <h1 class="text-secondary font-weight-light p-2">Ooops, something went wrong...</h1>
        <img class="p-2" src="~/Images/sadApple2.jpg" alt="Sad apple" style="max-width: 150px" />
        <hr />
        <a class="btn btn-outline-success" asp-controller="Dashboard" asp-action="Index">Return to Dashboard</a>
    </div>

</div>
