@model Order

@{
    ViewData["Title"] = "Order Details";
}

<h1 class="display-4 text-center">Order #@Model.Id</h1>
<p class="lead">Products</p>
<ul class="list-group list-group-flush">
    @foreach (var product in Model.OrderDetails)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            @product.Product.Name <span class="badge bg-info rounded-pill text-light"> x @product.Amount</span>
        </li>
    }
</ul>

<a asp-controller="Admin" asp-action="OrderListPaged">Back</a>
