@model IEnumerable<Product>



<div>

    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.UnitsInStock)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in Model)
            {
                <tr>
                    <td>
                        @product.Name
                    </td>
                    <td>
                        @product.UnitsInStock
                    </td>
                </tr>
            }

        </tbody>

    </table>




</div>